.toolbar{
    border-bottom: 3px solid var(--hard-orange);
    height: 125px;
    .container{
        display: flex;
        align-items: center;
        .logo-itau{
            height: 60px;
        }
        .example-spacer {
            flex: 1 1 auto;
        }
        .idioma{
            font-size: 18px;
        }
        .base-user{
            display: flex;
            height: 60px;
            border-left: 1px solid;
            align-items: center;
            padding-left: 20px;
            margin-left: 20px;
            .img-user{
                background-color: #333333;
                width: 40px;
                height: 40px;
                border-radius: 100%;
            }
            .data-user{
                margin-left: 20px;
                font-size: 14px;
                display: flex;
                flex-direction: column;
                font-weight: lighter;
                p{
                    margin: 0px;
                    &:first-child{
                        height: 16px;
                    }
                }
            }
            .expand-icon{
                font-size: 17px;
            }
        }
    }
}
@media (max-width: 470px){
    .toolbar .container .base-user .data-user{
        display: none;
    }
}