// Tema claro
$hard-orange: #F47929;
$soft-orange: #FEE0CD;

// Tema escuro
$hard-orange-dark: #c56322;
$soft-orange-dark: #b9a395;

:root{
    --hard-orange: #{$hard-orange};
    --soft-orange: #{$soft-orange};
}
.dark{
    --hard-orange: #{$hard-orange-dark};
    --soft-orange: #{$soft-orange-dark};
}