.dn{
    display: none !important;
}
.container {
    max-width: fit-content;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.toolbar .container{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    max-width: 540px;
}
.pointer{
    cursor: pointer;
}

@media (min-width: 576px){
    .toolbar .container{
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container, .toolbar .container {
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .container, .toolbar .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .container, .toolbar .container {
        max-width: 1140px;
    }
}